.seenIt{
   display: flex;
   flex-direction: column;
}
.haveSeen{
   background-color: rgba(84, 84, 84, 0.81);
   height:300px;
   overflow:auto;
}

/* PHONES AND SMALLER */
@media (min-width: 480px) {
    .seenIt{
        width:380px;
        margin: 0 auto;
    }
}

@media(min-width:974px){
    .seenIt{
        margin: 0;
        width:390px;
    }
    .haveSeen{
        width:390px;
    }
};



