.needToSee{
    display: flex;
    flex-direction: column;
}
.mustSee{
    background-color: rgba(84, 84, 84, 0.81);
    margin-bottom:10px;
    height:300px;
    overflow: auto;
}


/* PHONES AND SMALLER */
@media (min-width: 480px) {
    .needToSee{
        width:380px;
        margin: 0 auto;
    }
}

@media(min-width:974px){
    .needToSee{
        width:390px;
        margin: 0;
    }
    .mustSee{
        width:390px;
        margin-bottom:0
    }
};