.needToSee{
    display: flex;
    flex-direction: column;
}
.mustSee{
    background-color: rgba(255, 255, 255, 0.24);
    margin-bottom:10px;
}


/* PHONES AND SMALLER */
@media (min-width: 480px) {
    .needToSee{
        width:380px;
        margin: 0 auto;
    }
}

@media(min-width:974px){
    .needToSee{
        width:390px;
        margin: 0;
    }
    .mustSee{
        width:390px;
        margin-bottom:0
    }
};